:root {
    font-family: monospace;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    /* 1rem = 10px */
    font-family: 'monospace', sans-serif;
    background: lightseagreen;
}

.grid {
    width: 606px;
    height: 606px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .grid {
        width: auto;
        height: auto;
        margin: 0 auto;
    }

}

.square {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: solid 1px black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .square {
        width: 150px;
        height: 150px;
    }
}

.mole {
    background-image: url('mole.jpg');
    background-size: cover;
}

.title {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 768px) {
    .title {
        width: auto;
    }
}

.title h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 2px 1px 1px white;
}

.title h2 {
    font-size: 20px;
}

#score {
    color: blue;
    font-size: 35px;
    padding: 0;
    margin: 0;
}

#time-left {
    color: red;
    font-size: 35px;
    padding: 0;
    margin: 10px auto;
}

.button {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

@media (max-width: 768px) {
    .button {
        width: auto;
    }
}

.textButton {
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}